h1 {
    color: orange;
    padding-left: 500px;
}

ul {
	padding-top: 60px;
	padding-right: 50px;
}

ol {
	padding-top: 60px;
	padding-right: 200px;
}

p {
	padding-top: 80px;
}

.FollowUs{
	margin-top: 20px;
}

.Chameleon1{
    flex-wrap: wrap;
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    margin-left: 50px;
    padding-top: 50px;
}

.Pigeon1{
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: white;
    display: flex;
    margin-left: 70px;
}